<!DOCTYPE html>
<html lang="en">
<head>
garam
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="./index.css">
</head>
<body>
    <div id="root">
        <div id="content-box">
            <div id="img-box">
                <img src="http://www.usjournal.kr/news/data/20220416/p1065605892282128_336_thum.jpg" alt="">
            </div>
            <div id="input-box">
                <ul>
                    <li><input type="text" placeholder="품종"></li>
                    <li><input type="text" placeholder="지역"></li>
                    <li><input type="text" placeholder="성별"></li>
                    <li><input type="text" placeholder="특징"></li>
                </ul>
                <div id="button-box">
                    <button>취소</button>
                    <button>등록</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>




    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>This is the main page</h1>
<a href = "/login">로그인 페이지로 가기</a>
<a href = "/register">회원 가입 바로 가기</a>

</body>
</html>
main
