<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="./index.css">
</head>
<body>
    <div id="root">
        <div id="content-box">
            <div id="img-box">
                <img src="http://www.usjournal.kr/news/data/20220416/p1065605892282128_336_thum.jpg" alt="">
            </div>
            <div id="input-box">
                <ul>
                    <li><input type="text" placeholder="품종"></li>
                    <li><input type="text" placeholder="지역"></li>
                    <li><input type="text" placeholder="성별"></li>
                    <li><input type="text" placeholder="특징"></li>
                </ul>
                <div id="button-box">
                    <button>취소</button>
                    <button>등록</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

//항해 일정 지키기, 자존심 세우지 말기, 서로 얘기 많이 하기